.background {
  background-image: url('../Images/backgroundDetail.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  justify-content: start;
}

.detail {
  width: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: 0;
  overflow: hidden;
  display: flex;
}

.detailFixed {
  margin-top: 3rem;
  background-image: linear-gradient(125deg, rgba(149, 125, 166, 0.9) 0, rgba(116, 94, 144, 0.9) 25%, rgba(77, 60, 119, 0.9) 50%, rgba(32, 30, 95, 0.9) 75%, rgba(0, 3, 76, 0.9) 100%);

  box-shadow: 0 0 1rem rgb(63, 29, 56);
  padding: 1.5rem;
  border-radius: 1rem;
}

.image {
  position: relative;
  border-radius: 5%;
  width: 21rem;
  height: 14rem;
}

.activities {
  margin-top: 3.5rem;
  width: 50%;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 3.5rem;
}

.cardActivity {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  height: max-content;
  background-image: linear-gradient(125deg, rgba(149, 125, 166, 0.9) 0, rgba(116, 94, 144, 0.9) 25%, rgba(77, 60, 119, 0.9) 50%, rgba(32, 30, 95, 0.9) 75%, rgba(0, 3, 76, 0.9) 100%);
  box-shadow: 0 0 1rem rgb(63, 29, 56);
  border-radius: 1rem;
  margin: 1rem;
}

.containerIcons {
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.deleteIcon {
  margin-left: auto;
  margin-right: 0.5rem;
  height: 100%;
  cursor: pointer;
}

.editIcon {
  margin-left: 0.5rem;
  margin-right: auto;
  height: 100%;
  cursor: pointer;
}

.containerLoading {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 12rem;
}

.loadingMessage {
  width: 80%;
  text-align: center;
  position: relative;
  height: 3rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0);
  top: 13.8rem;
  z-index: 2;
}

.loading {
  height: 20rem;
  top: 2rem;
  width: 20rem;
  position: relative;
}

@media (max-width: 840px) {
  .container {
    display: flex;
    width: 100%;
    overflow: auto;
    position: relative;
    justify-content: start;
    flex-direction: column;
    align-items: center;
  }

  .containerLoading {
    left: initial;
  }

  .detail {
    width: initial;
    position: relative;
    height: initial;
    align-items: center;
    top: 2rem;
    overflow: initial;
    display: flex;
  }

  .activities {
    margin-top: 3.5rem;
    width: 100%;
    position: relative;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-bottom: -23rem;
  }
}