.nav {
  background-color: rgb(63, 29, 56, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: 3.5em;
  align-items: center;
  display: flex;
}

.button {
  left: 4rem;
  margin: 1em 1em;
  margin-left: 1em;
  color: #fff;
  border-radius: 1rem;
  /* font-size: 80%;
  cursor: pointer; */
  position: relative;
  box-shadow: inset 2px 2px 2px 0px rgb(77, 60, 119),
    7px 7px 20px 0px rgb(77, 60, 119, .1),
    4px 4px 5px 0px rgb(77, 60, 119, .1);
  outline: none;
  width: 6rem;
  height: 2rem;
  background: linear-gradient(0deg, #000 0%, rgb(77, 60, 119) 100%);
}

.button:hover {
  color: white;
  background: transparent;
  box-shadow: none;
}

.button:before,
.button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgb(225, 152, 152);
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.button:hover:before,
.button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.containerButton {
  margin-left: auto;
  margin-right: 2rem;
}



.buttons {
  float: inline-end;
  margin: auto;
  margin-left: 1em;
  color: #fff;
  border-radius: 1rem;
  font-size: 80%;
  cursor: pointer;
  position: relative;
  box-shadow: inset 2px 2px 2px 0px rgb(77, 60, 119),
    7px 7px 20px 0px rgb(77, 60, 119, 0.1),
    4px 4px 5px 0px rgb(77, 60, 119, 0.1);
  outline: none;
  width: 6rem;
  height: 2rem;
  background: linear-gradient(0deg, #000 0%, rgb(77, 60, 119) 100%);
}

.buttons:hover {
  color: white;
  background: transparent;
  box-shadow: none;
}

.buttons:before,
.buttons:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgb(225, 152, 152);
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.buttons:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.buttons:hover:before,
.buttons:hover:after {
  width: 100%;
  transition: 800ms ease all;
}