.leftSection {
    flex: 1;
    padding: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-size: 5rem;
}

.form {
    align-items: center;
    left: 4rem;
    top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    font-size: 0.8rem;
    position: absolute;
    background: rgb(63, 29, 56, 0.9);
    box-shadow: 0 0 1rem rgb(63, 29, 56);
    border-radius: 5%;
    width: 22rem;
    padding: 1rem;
    display: flex;
}

.form label {
    font-size: 1rem;
    text-align: left;
    width: 100%;
    margin-left: 1.5rem;
}

.form input,
.form select {
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
    border-radius: 0.8em;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}


.season {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    font-size: 1rem;
}

.rightSection {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    flex: 1;
    padding: 0.1rem;
    overflow: hidden;
    justify-content: center;
    align-content: flex-start;
}

.card {
    z-index: 1;
    top: 6.4rem;
    margin: 1.5rem;
    width: 8.5rem;
    height: 5rem;
    border-radius: 5%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 841px) {
    .card:hover {
        .image {
            filter: brightness(0.6);
        }

        .name {
            display: block;
            padding: 6%;
        }
    }

    .close:hover {
        opacity: 1;
    }
}

.container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 5%;
    overflow: hidden;
}

.name {
    display: none;
    font-family: 'Avalors Personal Use';
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5rem;
    position: absolute;
    z-index: 3;
}

.name {
    top: -0.3rem;
    left: -0.3rem;
}

.errorMessage {
    color: red;
    z-index: 3;
}

.submit {
    margin: 1em 1em;
    color: #fff;
    border-radius: 1rem;
    font-size: 80%;
    cursor: pointer;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgb(77, 60, 119),
        7px 7px 20px 0px rgb(77, 60, 119, .1),
        4px 4px 5px 0px rgb(77, 60, 119, .1);
    outline: none;
    width: 6rem;
    height: 2rem;
    background: linear-gradient(0deg, #000 0%, rgb(77, 60, 119) 100%);
}

button:disabled {
    background-color: rgb(77, 60, 119, 0.5);
    color: #666;
    border: 1px solid #999;
    cursor: not-allowed;
}

.submit:not(:disabled):hover {
    color: white;
    background: transparent;
    box-shadow: none;
}

.submit:not(:disabled):before,
.submit:not(:disabled):after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: rgb(225, 152, 152);
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.submit:not(:disabled):after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.submit:not(:disabled):hover:before,
.submit:not(:disabled):hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.close {
    z-index: 3;
    width: 100%;
    background: transparent;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.closeImg {
    z-index: 3;
    top: -1.7rem;
    left: 3.6rem;
    height: 30%;
    position: relative;
    cursor: pointer;
}

@media (max-width: 840px) {
    .leftSection {
        width: 100%;
        position: relative;
        height: 31.5rem;
        top: 5rem;
        padding: 0;
        display: flex;
        align-items: stretch;
        justify-content: center;
        background-size: 5rem;
    }

    .form {
        position: absolute;
        left: initial;
        top: 0;
    }

    .rightSection {
        overflow: hidden;
        top: 5rem;
        height: max-content;
        position: relative;
    }

    .container {
        display: grid;
        overflow: auto;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .card {
        top: initial;
        width: 8.5rem;
        height: 10.5rem;
    }

    .card {
        .image {
            position: absolute;
            width: 100%;
            height: 50%;
            z-index: 2;
            border-radius: 5%;
        }

        .name {
            display: flex;
            padding: 6%;
            color: white;
            overflow: hidden;
            background: rgb(63, 29, 56, 0.5);
            z-index: -1;
            border-radius: 1rem;
            margin-top: 5.7rem;
            align-items: center;
        }
    }

    .close {
        z-index: 3;
        width: 60%;
        background: transparent;
        height: 60%;
        opacity: 1;
    }

    .closeImg {
        z-index: 4;
        top: -4rem;
        left: 3.4rem;
        height: 30%;
        position: relative;
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    .card {
        .image {
            position: absolute;
            width: 100%;
            height: 50%;
            z-index: 2;
            border-radius: 5%;
        }

        .name {
            display: flex;
            padding: 6%;
            color: white;
            overflow: hidden;
            background: rgb(63, 29, 56, 0.5);
            z-index: -1;
            border-radius: 1rem;
            margin-top: 5.7rem;
            align-items: center;
        }
    }
}

@media (max-width: 400px) {
    .optionCountry {
        font-size: 70%;
    }
}